<?xml version="1.0" encoding="UTF-8"?>
<settings>
       <mirrors>
        <mirror>
          <id>nexus</id>
          <mirrorOf>*</mirrorOf>
          <url>http://nexus-demo-allitude.apps-crc.testing/repository/maven-public/</url>
        </mirror>
      </mirrors>
      <servers>
        <server>
          <id>nexus</id>
          <username>admin</username>
          <password>{OfsFYAR0fpkH0onudQBhyMoqOH5u7zG+7waNtLz3wOQ=}</password>
        </server>
      </servers>
    </settings>
